body {

}

.botton {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

h1 {
    font-family: "komet", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin-left: 25px;
}

img {
    margin-left: 25px;
}

hr {
    height: 5px;
    background-color: black;
}

h2 {
    font-family: "komet-sc", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

p {
    font-family: "komet", sans-serif;
    font-weight: 200;
    font-style: light;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.dates {
    font-family: "komet", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.location {
    font-family: "komet", sans-serif;
    font-weight: 600;
    font-style: normal;
}

ul {
    margin-left: 20px;
}

.two-columns {
  columns: 2;          /* Number of columns */
  column-gap: 2rem;    /* Space between columns */
  list-style-position: inside; /* Keeps bullets inside the column */
  padding: 0;
}

.two-columns li {
  margin-bottom: 0.5rem;
}


li {
    font-family: "komet", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.skills {
    font-family: "komet", sans-serif;
    font-weight: 500;
    font-style: normal;
}

footer p {
    font-family: "komet", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Disabled styles */

.minimal-styles h1,
.minimal-styles p {
  color: inherit;
  background: none;
  font-weight: normal;
}
